django
djangorestframework
markdown
django-filter
django-allauth
django-rest-auth
django_filters
django-cors-headers
boto3
botocore
django-phone-field
gunicorn
dj-database-url
whitenoise
psycopg2==2.7.2
psycopg2-binary
django-heroku
